.arena-container {
  padding: 20px;
  background-image: radial-gradient(circle, #302f2f 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.problem-table-container {
  font-family: 'Jetbrains Mono', monospace;
}

.loading-table {
  width: 80%;
  border-collapse: collapse;
  font-size: 1em;
  color: #ffffff;
}

.loading-table th,
.loading-table td {
  animation: pulse 1.5s infinite ease-in-out;
  padding: 12px 15px;
  border: 1px solid #444;
  text-align: left;
  background-color: #1e1e1e;
}

.loading-table th {
  background-color: #1e1e1e;
  color: #61afef;
}

.loading-row:nth-child(odd) {
  background-color: #1e1e1e;
}

.loading-row:nth-child(even) {
  background-color: #2c2c2c;
}

@keyframes pulse {
  0% {
    background-color: #2c2c2c;
  }
  50% {
    background-color: #1e1e1e;
  }
  100% {
    background-color: #2c2c2c;
  }
}

.table-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 5rem;
}
