.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: radial-gradient(circle, #302f2f 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  animation: slideIn 1s ease-out;
}

.auth-container h1 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
}

.auth-container form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.auth-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-container form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.auth-container form button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 10px;
  text-align: center;
}

.auth-container p a {
  color: #007bff;
  text-decoration: none;
}

.auth-container p a:hover {
  text-decoration: underline;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.error {
  color: #ff0008;
  text-align: center;
}
