.create-contest-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section,
.right-section {
  width: 48%;
  margin-bottom: 20px;
}

.left-section {
  float: left;
}

.right-section {
  float: right;
}

.create-contest-container:after {
  content: '';
  display: table;
  clear: both;
}

.create-contest-container label {
  display: block;
  margin-bottom: 10px;
}

.create-contest-container input[type='text'],
.create-contest-container input[type='number'],
.create-contest-container input[type='datetime-local'],
.create-contest-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: rgb(43, 43, 43);
  color: white;
  resize: vertical;
}

button[type='submit'] {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #61afef;
  color: white;
  border-radius: 5px;
}

button[type='submit']:hover {
  background-color: #008cff;
}

.add-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #61afef;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #008cff;
}

.test-case-section,
.example-section {
  margin-bottom: 30px;
}
