.playground-container {
  display: flex;
  height: 90vh;
}

.left-column,
.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.editor-container {
  flex-grow: 1;
  background-color: #282c34;
  border: 1px solid #333;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
}

.language-selector {
  margin-bottom: 10px;
}

.language-selector label {
  margin-right: 10px;
}

.language-selector select {
  padding: 5px;
  font-size: 16px;
}

.input-output-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container textarea {
  flex-grow: 1;
  background-color: #2c313c;
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  resize: vertical;
}

.input-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #528bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.output-container {
  flex-grow: 2;
  background-color: #2c313c;
  color: #abb2bf;
  font-family: 'JetBrains Mono', monospace;
  padding: 10px;
  border: 1px solid #333;
  white-space: pre-wrap;
}
