.problem-page-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  height: 90vh;
}

.problem-description {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #444;
  font-family: 'Jetbrains Mono', monospace;
}

.problem-description h1 {
  color: #c678dd;
}

.problem-description h2 {
  color: #61afef;
}

.problem-description p {
  text-align: left;
  margin: 10px 0;
}

.problem-editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-container {
  height: 100%;
  margin-bottom: 20px;
}

.leaderboard-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.leaderboard-button:hover {
  background-color: darkgreen;
}
