.input-output-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.input-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 4px;
  resize: none;
}

.run-code-button {
  /* position: absolute; */
  width: 8rem;
  height: 2rem;
  padding: 5px 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #61afef;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.run-code-button:hover {
  background-color: #0988f0;
}

.output-container {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.output-container h4 {
  color: #c678dd;
}

.output-container pre {
  background-color: #2c2c2c;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  white-space: pre-wrap;
  height: 85%;
  width: 100%;
}
