.language-selector {
  display: flex;
}

.settings-group {
  display: flex;
  height: 2rem;
  /* width: 20rem; */
  align-items: center;
  margin: 5px 10px;
}

.settings-group label {
  display: block;
  font-weight: bold;
}

.settings-group select,
.settings-group input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.settings-group input[type='checkbox'] {
  width: auto;
}
