.problem-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.problem-table {
  width: 80vw;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'JetBrains Mono', monospace;
  color: #ffffff;
}

.problem-table th,
.problem-table td {
  padding: 12px 15px;
  border: 1px solid #444;
}

.problem-table th {
  background-color: #1e1e1e;
  color: #61afef;
  cursor: default;
}

.problem-table tr {
  cursor: pointer;
  background-color: #1e1e1e;
}

.problem-table tr:hover {
  background-color: #2c2c2c;
}
